h2 {
  color: dodgerblue;
}
.u-section-1 {
  background-image: url("../images/b61d3be4-4d0d-cc42-06b0-54e455e333da.png");
  background-position: 50% 96.25%;
}

.u-section-1 .u-sheet-1 {
  min-height: 785px;
}

.u-section-1 .u-group-1 {
  width: 469px;
  min-height: 412px;
  height: auto;
  margin: 185px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  align-self: center;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 21px auto 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-group-1 {
    width: 595px;
    min-height: 353px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 100% 96.25%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 100% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  /* background-image: url("images/3dd11a8f-dac7-6d0a-bd1f-7186c46ad4a6.png");
  background-position: 50% 50%; */
}

.u-section-2 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 597px 112px 0;
}

.u-section-2 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 18px));
  min-height: 222px;
  grid-gap: 36px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 137px;
  width: 492px;
  margin: 19px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  width: 492px;
  margin: 19px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 17.95% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 491px;
}

.u-section-3 .u-group-1 {
  width: 950px;
  min-height: 228px;
  margin: 60px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 791px;
  margin: 21px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 77px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px 0 30px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 17px 39px 17px 38px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 77px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 0 10px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  align-self: center;
  text-align: center;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px 67px 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 86px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 86px;
  }
}