<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style1.css" />
    <script src="../js/main.js"></script>
  </head>
  <body>
    <section class="block container block-plans">
        <div class="grid grid--1x2">
          <div class="plan">
            <div class="card card--secondary">
              <header class="card__header">
                <h3 class="plan__name">Greigorian Date</h3>
              </header>
              <div class="card__body">
                <div class="form-group">
                    <input type="date" class="form-control" id="EuropeanDate" onchange="updateCalculatedEthDateOnPage()" />
                    <p id="EurDayTextArea"></p>
                    <span class="help-block">Change the date above to convert to Ethiopian calendar.</span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="plan">
            <div class="card card--primary">
              <header class="card__header">
                <h3 class="plan__name">Ethiopian Date</h3>
              </header>
              <div class="card__body">
                <div class="form-inline">
                    <div>
                        <input type="number" class="form-control" id="EthMonthScroll" min="1" max="13" style="width:3em;padding-left:0;padding-right:0;" onchange="updateCalculatedEurDateOnPage()"> /
                        <input type="number" class="form-control" id="EthDayScroll" min="1" max="30" style="width:3em;padding-left:0;padding-right:0;" onchange="updateCalculatedEurDateOnPage()"> /
                        <input type="number" class="form-control" id="EthYearScroll" min="-99999" max="999999" style="width:4em;padding-left:0;padding-right:0;" onchange="updateCalculatedEurDateOnPage()">
                    </div>
                    <p id="ethDayTextArea" style="width:100%;"></p>
                    <span class="help-block" style="width:100%;">Change the date above to convert to European calendar.</span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      
  </body>
</html>